*.annot
*.cmo
*.cma
*.cmi
*.a
*.o
*.cmx
*.cmxs
*.cmxa
.#*
~#
_build
*.native
*.byte
ocsidb
TODO
*.old
#*#
tools/config.json
test_mongo
web/ocsigen_file
web/public/w2wt.js
web/css/.sass-cache
tools/api_wrapper
tools/imdb_to_w2wt
tools/learning
tools/*.txt

web/css/css/w2wt.css
web/public/w2wt.css