/* base */
/* line 13, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  line-height: 1.4em;
  color: black;
}

/* line 23, ../sass/_reset.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

/* line 26, ../sass/_reset.scss */
a {
  color: #000;
  text-decoration: none;
}

/* line 30, ../sass/_reset.scss */
a:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
/* line 34, ../sass/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 37, ../sass/_reset.scss */
body {
  line-height: 1;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* line 44, ../sass/_reset.scss */
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 45, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 48, ../sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 52, ../sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 56, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 61, ../sass/_reset.scss */
a:link {
  text-decoration: none;
  background-color: transparent;
}

/* line 66, ../sass/_reset.scss */
a:visited {
  text-decoration: none;
  background-color: transparent;
}

/* line 71, ../sass/_reset.scss */
a:hover {
  text-decoration: none;
  background-color: transparent;
}

/* line 76, ../sass/_reset.scss */
a:active {
  text-decoration: none;
  background-color: transparent;
}

/* line 81, ../sass/_reset.scss */
* {
  background-repeat: no-repeat;
}

/* line 85, ../sass/_reset.scss */
*::selection {
  /* Safari */
  background: none repeat scroll 0 0;
  color: #000;
}

/* line 90, ../sass/_reset.scss */
img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/* line 100, ../sass/_reset.scss */
p {
  word-wrap: break-word;
}

/* line 104, ../sass/_reset.scss */
a {
  cursor: pointer;
}

/* line 108, ../sass/_reset.scss */
button {
  cursor: pointer;
}

/* line 112, ../sass/_reset.scss */
input, textarea {
  outline: none;
  padding: 0;
}

/* custom preset  */
/* html { */
/*   font-family: $be_myriad */
/* } */
/* button { */
/*   font-family: $be_myriad; */
/* } */
/* h1  { */
/*   font-family: $be_gothic ; */
/*   font-size: 36px; */
/* } */
/* h2 { */
/*   font-family: $be_myriad ; */
/*   font-size:14px; */
/* } */
/* h3 { */
/*   font-size: 14px; */
/* } */
/* p { */
/*   font-size: 14px; */
/* } */
/* input[type="text"], input[type="password"], textarea { */
/*   padding-left: 6px; */
/*   font-size: 14px ; */
/*   font-family: $be_myriad ; */
/* } */
/* input[type="text"], input[type="password"] { */
/*   height: 28px; */
/*   border: none; */
/*   @include border-radius(3px); */
/*   background-color: $be_yag; */
/*   margin: 0 ; */
/* } */
/* textarea { */
/*   border: none; */
/*   margin: 0; */
/*   background-color: $be_yag; */
/*   @include border-radius(3px); */
/*   padding: 5px; */
/* } */
/* input::-webkit-input-placeholder, */
/* input::-moz-placeholder, */
/* input::-ms-placeholder { */
/*   /\* name this color *\/ */
/*   color: #999 ; */
/* } */
/* line 15, ../sass/_base.scss */
.websymbols {
  font-family: WebSymbolsRegular !important;
}

/* line 20, ../sass/_base.scss */
body {
  background-color: #e1e1e1;
}

/* line 24, ../sass/_base.scss */
.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
  outline: none;
}

/* line 33, ../sass/_base.scss */
.vertical_sep {
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
}

@font-face {
  font-family: 'forgotten_futurist_shadow';
  src: url("/font/Forgotten-Futurist-Shadow/forgotts.eot");
  src: url("/font/Forgotten-Futurist-Shadow/forgotts.ttf") format("truetype"), url("/font/Forgotten-Futurist-Shadow/forgotts.svg") format("svg"), url("/font/Forgotten-Futurist-Shadow/forgotts.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* http://nelsondev.blogspot.com/2012/11/web-symbols-typeface-css3.html */
@font-face {
  font-family: 'WebSymbolsRegular';
  src: url("/font/websymbols/websymbols-regular-webfont.eot");
  src: url("/font/websymbols/websymbols-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/font/websymbols/websymbols-regular-webfont.woff") format("woff"), url("/font/websymbols/websymbols-regular-webfont.ttf") format("truetype"), url("/font/websymbols/websymbols-regular-webfont.svg#WebSymbolsRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* website */
/* line 1, ../sass/_container.scss */
.full_container {
  width: auto;
  padding: 20px;
  min-width: 910px;
}

/* line 7, ../sass/_container.scss */
.container {
  margin-top: 100px;
}
@media (max-width: 950px) {
  /* line 7, ../sass/_container.scss */
  .container {
    margin-top: 30px;
  }
}

/* line 16, ../sass/_container.scss */
.fixed_header_hide {
  position: fixed;
  z-index: 100;
  height: 20px;
  top: 0;
  left: 20px;
  right: 20px;
  background-color: #e1e1e1;
}

/* line 1, ../sass/_header.scss */
.header {
  background-color: #008ece;
  height: 70px;
  line-height: 100%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px;
  min-width: 910px;
}
@media (min-width: 950px) {
  /* line 1, ../sass/_header.scss */
  .header {
    position: fixed;
    z-index: 100;
    left: 20px;
    right: 20px;
  }
}
/* line 17, ../sass/_header.scss */
.header > div {
  height: 100%;
  float: left;
}
/* line 21, ../sass/_header.scss */
.header > div.logo {
  width: 137px;
}
/* line 23, ../sass/_header.scss */
.header > div.logo a {
  font-family: forgotten_futurist_shadow;
  font-size: 31px;
  color: white;
  padding: 0 20px;
  position: relative;
  top: 4px;
}
/* line 33, ../sass/_header.scss */
.header > div.last {
  float: right;
  width: 450px;
}
/* line 37, ../sass/_header.scss */
.header > div.last > div:first-child {
  height: 100%;
  float: left;
}
/* line 40, ../sass/_header.scss */
.header > div.last > div:first-child div.autocp {
  display: inline-block;
}
/* line 42, ../sass/_header.scss */
.header > div.last > div:first-child div.autocp > input {
  width: 230px;
  height: 23px;
  border-top: 1px solid #c9c9c9;
  border-left: 1px solid #c9c9c9;
  font-family: arial, helvetica, clean, sans-serif;
  font-size: 11px;
  padding-left: 3px;
  padding-right: 20px;
}
/* line 52, ../sass/_header.scss */
.header > div.last > div:first-child div.autocp > ul {
  position: absolute;
  width: 256px;
  background-color: rgba(225, 225, 225, 0.8);
  -webkit-box-shadow: #cccccc 0px 4px 10px 2px;
  -moz-box-shadow: #cccccc 0px 4px 10px 2px;
  box-shadow: #cccccc 0px 4px 10px 2px;
}
/* line 59, ../sass/_header.scss */
.header > div.last > div:first-child div.autocp > ul > li {
  cursor: pointer;
  padding: 5px;
  font-family: arial, helvetica, clean, sans-serif;
}
/* line 63, ../sass/_header.scss */
.header > div.last > div:first-child div.autocp > ul > li.highlighted, .header > div.last > div:first-child div.autocp > ul > li:hover {
  background-color: #CCC;
  color: #008ece;
}
/* line 71, ../sass/_header.scss */
.header > div.last > div:first-child span.search_icon {
  color: #cccccc;
  position: relative;
  left: -20px;
  top: 2px;
}
/* line 79, ../sass/_header.scss */
.header > div.last div:last-child {
  height: 100%;
  float: left;
  width: 170px;
  padding-left: 7px;
  background-color: #008ece;
  background-image: -webkit-linear-gradient(left, #0080c0, #008ece);
  cursor: pointer;
}
/* line 89, ../sass/_header.scss */
.header > div.last div:last-child:hover {
  background-image: -webkit-linear-gradient(left, #009fdf, #0090d0);
}
/* line 93, ../sass/_header.scss */
.header > div.last div:last-child > span {
  margin-left: 7px;
  color: white;
  font-family: arial, helvetica, clean, sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 106px;
  display: inline-block;
}
/* line 104, ../sass/_header.scss */
.header > div.last div:last-child > * {
  vertical-align: middle;
}
/* line 111, ../sass/_header.scss */
.header > div.section ul {
  height: 100%;
}
/* line 113, ../sass/_header.scss */
.header > div.section ul li {
  height: 100%;
  font-family: arial, helvetica, clean, sans-serif;
  font-size: 17px;
  font-weight: bold;
  text-shadow: rgba(0, 0, 0, 0.5) 0px 1px 1px;
  float: left;
  padding: 0 15px;
  text-align: center;
}
/* line 124, ../sass/_header.scss */
.header > div.section ul li > a {
  color: #dddddd;
  display: inline-block;
}
/* line 125, ../sass/_header.scss */
.header > div.section ul li > a:hover, .header > div.section ul li > a.selected {
  color: white;
}
/* line 132, ../sass/_header.scss */
.header > div.section ul li > * {
  vertical-align: middle;
}
@media (min-width: 1200px) {
  /* line 110, ../sass/_header.scss */
  .header > div.section {
    width: 48%;
  }
  /* line 140, ../sass/_header.scss */
  .header > div.section ul li {
    width: 26%;
  }
}
@media (max-width: 1200px) {
  /* line 110, ../sass/_header.scss */
  .header > div.section {
    width: 35%;
  }
  /* line 146, ../sass/_header.scss */
  .header > div.section ul li {
    width: 21%;
  }
}

/* line 3, ../sass/_movie.scss */
div.movie_page div.ratings > span {
  cursor: pointer;
  margin: 5px;
  padding: 2px;
  display: inline-block;
}
/* line 9, ../sass/_movie.scss */
div.movie_page div.ratings > span:hover, div.movie_page div.ratings > span.selected {
  background-color: #008ece;
  color: white;
}

/* line 5, ../sass/_popular.scss */
div.popular_movies div.movie_list {
  width: 100%;
  overflow: hidden;
}
/* line 9, ../sass/_popular.scss */
div.popular_movies div.movie_list div.movie_list_in {
  margin-right: -40px;
}
/* line 12, ../sass/_popular.scss */
div.popular_movies div.movie_list div.movie_list_in > div.movie {
  padding: 0 40px 20px 0;
  display: inline-block;
  text-align: left;
  position: relative;
  width: 185px;
  height: 280px;
  vertical-align: top;
}
/* line 22, ../sass/_popular.scss */
div.popular_movies div.movie_list div.movie_list_in > div.movie.last > div > div.movie_info {
  left: -360px;
}
/* line 29, ../sass/_popular.scss */
div.popular_movies div.movie_list div.movie_list_in > div.movie > div:hover > div.movie_info {
  visibility: visible;
}
/* line 34, ../sass/_popular.scss */
div.popular_movies div.movie_list div.movie_list_in > div.movie > div > div.movie_cover {
  width: 185px;
  height: 280px;
  overflow: hidden;
}
/* line 40, ../sass/_popular.scss */
div.popular_movies div.movie_list div.movie_list_in > div.movie > div > div.movie_info {
  width: 0;
  height: 0;
  position: absolute;
  top: 25px;
  left: 205px;
  visibility: hidden;
  -webkit-transition: visibility 0 ease;
  -webkit-transition-delay: 0.25s;
  -moz-transition: visibility 0 ease 0.25s;
  -o-transition: visibility 0 ease 0.25s;
  transition: visibility 0 ease 0.25s;
}
/* line 51, ../sass/_popular.scss */
div.popular_movies div.movie_list div.movie_list_in > div.movie > div > div.movie_info > div {
  width: 315px;
  margin: 0 15px;
  background-color: white;
  position: relative;
  z-index: 10;
  border: 1px solid #e1e1e1;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 10px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 10px 2px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 10px 2px;
}
/* line 61, ../sass/_popular.scss */
div.popular_movies div.movie_list div.movie_list_in > div.movie > div > div.movie_info > div > div.movie_title {
  background-color: #008ece;
  height: 45px;
}
/* line 64, ../sass/_popular.scss */
div.popular_movies div.movie_list div.movie_list_in > div.movie > div > div.movie_info > div > div.movie_title h3 {
  padding: 7px 7px 0 7px;
}
/* line 66, ../sass/_popular.scss */
div.popular_movies div.movie_list div.movie_list_in > div.movie > div > div.movie_info > div > div.movie_title h3 a {
  color: white;
  font-size: 19px;
  font-family: arial, helvetica, clean, sans-serif;
  font-weight: bold;
}
/* line 71, ../sass/_popular.scss */
div.popular_movies div.movie_list div.movie_list_in > div.movie > div > div.movie_info > div > div.movie_title h3 a:hover {
  text-decoration: underline;
}
/* line 78, ../sass/_popular.scss */
div.popular_movies div.movie_list div.movie_list_in > div.movie > div > div.movie_info > div > div.movie_description {
  padding: 15px;
  font-size: 12px;
  font-family: arial, helvetica, clean, sans-serif;
}
/* line 83, ../sass/_popular.scss */
div.popular_movies div.movie_list div.movie_list_in > div.movie > div > div.movie_info > div > div.movie_description > a.more_info_link {
  color: #008ece;
  font-size: 13px;
}
/* line 84, ../sass/_popular.scss */
div.popular_movies div.movie_list div.movie_list_in > div.movie > div > div.movie_info > div > div.movie_description > a.more_info_link:hover {
  text-decoration: underline;
}
