$min_width: 950;
$optimal-width: 1200;

$full_container_padding: 20;
$w2wt_blue : #008ECE;
$body_grey : #e1e1e1;
$body_grey_alpha: rgba(225,225,225,0.8);

$header_height:70;

$basic_font: arial, helvetica, clean, sans-serif;
$logo_font: forgotten_futurist_shadow ;
$websymbols : WebSymbolsRegular;

.websymbols {
  font-family: $websymbols!important;
}


body {
  background-color : $body_grey;
}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
  outline: none;
}

.vertical_sep {
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display:inline-block;
  vertical-align: middle;
}
