.header {
  background-color: $w2wt_blue ;
  height: #{$header_height}px;
  line-height: 100%;

  @include box-shadow(rgba(0,0,0,0.5) 0px 1px 3px);

  @media (min-width: #{$min_width}px) {
    position: fixed;
    z-index: 100;
    left: #{$full_container_padding}px;
    right: #{$full_container_padding}px;
  }

  min-width: #{$min_width - $full_container_padding * 2}px;

  > div {
    height : 100%;
    float : left ;

    &.logo {
      width: 137px;
      a {
        font-family: $logo_font ;
        font-size: 31px;
        color: white ;
        padding: 0 20px;
        position: relative;
        top: 4px;
      }
    }

    &.last {
      float: right ;
      width: 450px;

      > div:first-child {
        height: 100%;
        float: left ;
        div.autocp {
          display: inline-block ;
          > input {
            width: 230px ;
            height: 23px;
            border-top: 1px solid #c9c9c9;
            border-left: 1px solid #c9c9c9;
            font-family: $basic_font;
            font-size: 11px ;
            padding-left: 3px;
            padding-right: 20px;
          }
          > ul {
            position: absolute ;
            width: 256px;
            background-color: $body_grey_alpha();

            @include box-shadow(#CCC 0px 4px 10px 2px);

            > li {
              cursor: pointer ;
              padding: 5px;
              font-family: $basic_font ;
              &.highlighted,&:hover {
                background-color: #CCC;
                color: $w2wt_blue;
              }
            }
          }

        }
        span.search_icon {
          color: #CCC ;
          position: relative ;
          left: -20px;
          top: 2px;
        }
      }

      div:last-child {
        height: 100%;
        float: left ;
        width: 170px;
        padding-left: 7px;

        background-color: $w2wt_blue;
        background-image: -webkit-linear-gradient(left, #0080C0, #008ECE);
        cursor: pointer;

        &:hover {
          background-image: -webkit-linear-gradient(left, #009FDF, #0090D0);
        }

        > span {
          margin-left : 7px ;
          color: white ;
          font-family: $basic_font ;
          white-space: nowrap;
	        overflow: hidden;
	        text-overflow: ellipsis;
          max-width: 106px;
          display: inline-block
        }

        > div.facebook_btn {
          height:100%;
          width: 100%;
          color: #ddd;
          line-height: 70px;
          font-family: arial, helvetica, clean, sans-serif;
          font-size: 17px;
          font-weight: bold;
          text-align: center;

          &:hover {
            color: #fff
          }
        }

        > * {
          vertical-align: middle ;
        }
      }
    }

    &.section {
      ul {
        height: 100%;
        li {
          height: 100%;
          font-family: $basic_font ;
          font-size: 17px;
          font-weight: bold;
          @include text-shadow(rgba(0,0,0,0.5) 0px 1px 1px);

          float: left;
          padding: 0 15px;
          text-align: center;

          > a {
            &:hover, &.selected {
              color: white ;
            }
            color: #DDD ;
            display: inline-block ;
          }

          > * {
            vertical-align: middle ;
          }
        }
      }

      @media (min-width: #{$optimal-width}px) {
        width: 48%;
        ul li {
          width: 26%;
        }
      }
      @media (max-width: #{$optimal-width}px) {
        width: 35%;
        ul li {
          width: 21%;
        }
      }
    }
  }
}

.missing_cover {
  position: fixed;
  z-index: 100;
  top: 100px;
  margin: 0px auto;
  padding-left: 0px;
  margin: auto;
  width: 100%;


  > div {
    background-color: rgba(255,255,255,0.95);
    width: 550px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
    position: relative;
    margin: 0px auto;

    > p {
      text-align: center;
      margin: 0;
      font-family: "HelveticaNeue";
      font-size: 14px;
      color: #6f8491;
      font-weight: bold;
    }
  }
}