@mixin ratings_stars {
  div.ratings_container {
    margin-left: 15px;
    margin-bottom: 5px;

    > div.rating {
      div.ratings_stars {
        float:left;
        width: 95px;
        height: 20px;
        div.ratings_btn {
          height:22px;
          position: relative;
          margin-top: -22px;
          > div {
            cursor: pointer ;
            margin:0;
            padding: 0;
            width: 19px;
            height: 22px;
            float:left ;
            border: 0;
          }
        }

        div.ratings {
          background-image: url("/img/stars.png");
          height: 20px;
          background-position: 0 -120px;

          &:nth-child(2) {
            position: relative;
            margin-top: -22px;

            &.rated {
              background-position: 0 -58px;
            }
            &.predicted, &.average {
              background-position: 0 2px;
            }

            &.rated_none {
              width: 0;
            }
            &.rated_1 {
              width: 19px;
            }
            &.rated_2 {
              width: 38px;
            }
            &.rated_3 {
              width: 57px;
            }
            &.rated_4 {
              width: 76px;
            }
            &.rated_5 {
              width: 95px;
            }
          }
        }
      }

      div.ratings_txt {
        float:left;
        max-width: 185px;
        margin-left: 10px;
        p {
          word-wrap:break-word;
          font-size: 12px;
          line-height: 18px;
        }
      }
    }

    > div.vote_average {
      border-top: 1px solid #ccc;
      margin-top: 3px;
      padding-top: 3px;

      > p {
        word-wrap: break-word;
        font-size: 12px;
        line-height: 18px;
      }
    }

  }
}



/* for popular movie and what to watch page  */
@mixin movie_in_list {
  div.movie_in_list {
    padding: 0 40px 20px 0 ;
    display: inline-block;
    text-align: left ;
    position: relative ;
    width: #{$cover_width}px;
    height: #{$cover_height}px;
    vertical-align: top;

    &.last {
      > div > div.movie_info {
        left : -360px;

        > div {
          &:after, &:before {
	          left: 100%;
          }

          &:before {
            border-color: rgba(225, 225, 225, 0);
	          border-left-color: $body_grey;
          }

          &:after {
            border-color: rgba(0, 0, 0, 0);
	          border-left-color: white;
          }
        }
      }
    }

    > div {
      &:hover {
        > div.movie_info {
          visibility: visible
        }
      }

      > div.movie_cover {
        width: #{$cover_width}px;
        height: #{$cover_height}px;
        overflow: hidden ;
      }

      > div.movie_info {
        width: 0;
        height: 0;
        position: absolute;
        top: 25px;
        left: 195px;
        visibility: hidden ;

        @include single_transition(visibility,0,ease,0.25s);

        > div {
          width: 315px ;
          margin: 0 15px;
          background-color: white ;
          position: relative ;
          z-index: 10;
          border: 1px solid $body_grey;

          @include box-shadow(rgba(0,0,0,0.5) 0px 4px 10px 2px);

          &:after, &:before {
	          right: 100%;
	          top: 50%;
	          border: solid transparent;
	          content: " ";
	          height: 0;
	          width: 0;
	          position: absolute;
	          pointer-events: none;
          }

          &:before {
            border-color: rgba(225, 225, 225, 0);
	          border-right-color: $body_grey;
	          border-width: 26px;
	          margin-top: -26px;
          }

          &:after {
            border-color: rgba(0, 0, 0, 0);
	          border-right-color: white;
	          border-width: 25px;
	          margin-top: -25px;
          }

          > div.movie_title {
            background-color: $w2wt_blue ;
            min-height: 40px ;
            h3 {
              padding: 7px 7px 0 7px;
              a {
                color: white ;
                font-size: 19px ;
                font-family: $basic_font ;
                font-weight: bold ;
                &:hover {
                  text-decoration: underline ;
                }
              }
            }
          }

          > div.movie_description {
            padding: 15px ;
            padding-bottom: 5px;
            font-size: 12px ;
            font-family: $basic_font ;

            > a.more_info_link {
              &:hover {
                text-decoration: underline ;
              }
              color: $w2wt_blue ;
              font-size: 13px ;
            }
          }

          @include ratings_stars;
        }
      }
    }
  }
}


div.movie_page {
  @include ratings_stars;

  width: 750px;
  margin: 0 auto;

  > div.pict_dom {
    float: left;
    width: 300px;
    > img {
      width: 300px;
    }
  }
  > div.description_dom {
    float: left;
    width: 400px;
    margin-left: 35px;

    div.ratings_container {
      margin-left: 0;
    }

    > div {
      > h1 {
        font-size: 20px;
        font-weight: bold;
        font-family: $basic_font;
        margin-bottom: 10px;
      }

      > p.tagline {
        font-style: oblique;
        margin-bottom: 10px;
        font-size: 13px;
        font-family: $basic_font ;
      }

      > p.overview {
        font-size: 14px;
        font-family: $basic_font ;
      }
    }
  }
}