$cover_width: 185;
$cover_height: 280;

div.popular_movies {
  div.movie_list {
    width: 100%;
    overflow:hidden ;

    div.movie_list_in {
      margin-right: -40px;

      @include movie_in_list ;
    }
  }
}
