html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      vertical-align: baseline;
      line-height:1.4em;
      color: black ;

}
h1,h2,h3,h4,h5,h6{
	font-weight:normal;
}
a{
	color:#000;
	text-decoration:none;
}
a:focus{outline:0;}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
html { height: 100%;margin:0;padding:0; }
ol, ul {
    list-style: none;
}
blockquote, q {
	    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	  content: '';
	  content: none;
}
table {
      border-collapse: collapse;
      border-spacing: 0;
}

a:link {
       text-decoration: none;
       background-color: transparent;
       }

a:visited {
	  text-decoration: none;
 	  background-color: transparent;
	  }

a:hover {
	text-decoration: none;
 	background-color: transparent;
	}

a:active {
	 text-decoration: none;
 	 background-color: transparent;
	 }

* {
  background-repeat: no-repeat;
}

*::selection {/* Safari */
  background: none repeat scroll 0 0 ;
    color: #000;
}

img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

p {
  word-wrap: break-word;
}

a {
  cursor: pointer;
}

button {
  cursor: pointer ;
}

input, textarea {
  outline: none;
  padding: 0;
}

/* custom preset  */

/* html { */
/*   font-family: $be_myriad */
/* } */

/* button { */
/*   font-family: $be_myriad; */
/* } */

/* h1  { */
/*   font-family: $be_gothic ; */
/*   font-size: 36px; */
/* } */

/* h2 { */
/*   font-family: $be_myriad ; */
/*   font-size:14px; */
/* } */

/* h3 { */
/*   font-size: 14px; */
/* } */

/* p { */
/*   font-size: 14px; */
/* } */

/* input[type="text"], input[type="password"], textarea { */
/*   padding-left: 6px; */
/*   font-size: 14px ; */
/*   font-family: $be_myriad ; */
/* } */

/* input[type="text"], input[type="password"] { */
/*   height: 28px; */
/*   border: none; */
/*   @include border-radius(3px); */
/*   background-color: $be_yag; */
/*   margin: 0 ; */
/* } */

/* textarea { */
/*   border: none; */
/*   margin: 0; */
/*   background-color: $be_yag; */
/*   @include border-radius(3px); */
/*   padding: 5px; */
/* } */

/* input::-webkit-input-placeholder, */
/* input::-moz-placeholder, */
/* input::-ms-placeholder { */
/*   /\* name this color *\/ */
/*   color: #999 ; */
/* } */