div.wtw_page {
  overflow: hidden ;

  h2 {
    font-family : $basic_font;
    color: #2e2322 ;
    font-size: 18px;
    font-weight: bold ;
    margin-bottom: 10px;
  }

  div.movie_list_nav {
    cursor: pointer ;
    position: absolute;
    z-index: 5;
    width: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 25px;
    color: rgba(255, 255, 255, 0.7);
    margin-top: -3px;


    &.movie_next {
      right: 20px;
      padding: 125px 5px 125px 20px;
    }
    &.movie_prev {
      padding: 125px 10px 125px 10px;
    }
  }

  div.movie_list {
    width: #{$cover_width * 20}px ;
    position: relative ;
    @include movie_in_list ;
  }
}